.todo {
  max-width: 1080px;
  min-width: 600px;
}

.todo__title {
  color: #dadada;
  margin: 0;
  font-size: 96px;
  letter-spacing: -2px;
  text-align: center;
}

.todo__main {
  display: flex;
  flex-direction: column;
  border: 1px solid #afafaf;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.todo__input {
  display: flex;
  flex-direction: row;
  height: 72px;
  padding: 12px;
  box-sizing: content-box;
}

.todo__input--field {
  font-size: 48px;
  color: #666666;
  width: 100%;
  height: 72px;
  border: none;
  background: none;
}

.todo__input--field::placeholder {
  color: #dadada;
}

.todo__input--field:focus-visible {
  outline: none;
}

.todo__chevron {
  background: none;
  border: none;
  height: 72px;
  width: 72px;
}

.todo__add--button {
  font-size: 52px;
  color: #afafaf;
}

.todo__task {
  text-align: center;
  color: #666666;
  padding: 28px 0;
  font-size: x-large;
  border-bottom: 1px solid #afafaf;
}

.todo__tasks {
  border-top: 1px solid #afafaf;
}

.todo__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
  padding: 8px 0px;
}

.todo__items-left {
  font-size: 20px;
  min-width: 156px;
  text-align: center;
}

.filter_button {
  padding: 4px 12px;
}

.todo__clear-completed {
  font-size: 20px;
  text-align: right;
}

.todo__decoration--upper {
  display: flex;
  justify-self: center;
  width: calc(100% - 8px);
  height: 6px;
  border: 1px solid #afafaf;
  border-top: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: -1;
}
.todo__decoration--lower {
  display: flex;
  justify-self: center;
  width: calc(100% - 16px);
  height: 5px;
  border: 1px solid #afafaf;
  border-top: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: -2;
}
